.banner {
<<<<<<< HEAD
    background-image: url(../images/beach.jpeg);
=======
    background-image: url("../images/beach.jpeg");
>>>>>>> 5ef5601a4fc9fb6f055790f605a9b357f0a4d0ba
    margin-top: 75px;
    color: white;
    text-align: center;
    width: 100%;
    height: 100%;
    background-position: bottom;
}

#Daisy
{
    height: 500px;
    width: 350px;
    border-radius: 25px;
    overflow: hidden;
}

#about {
    margin: 50px;
    font-size: 100px;
    color: lightcoral;
    font-family: helvetica;
}

.bold {
    font-weight: 900;
}

.button {
    background-color: purple;
    color: white;
    padding: 15px 25px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 10px 2px;
    cursor: pointer;
    border-radius: 12px;
}

.button:hover {
    background-color: green;
}

ul,
    li {
        list-style-type: square;
        color: black;
        border-radius: 10px;
        font-family: helvetica;
    }

.body {
    border-radius: 15px;
    text-align: center;
    font-size: 24px;
    font-family: Helvetica;
    padding: 100px 0;
    text-align: center;
    box-shadow: inset 0 0 10px gray;
    height: 75px;
    background-color: rgba(128, 0, 128, 0.5);
}

.list {
    box-shadow: 5px 5px 5px lightgray;
    text-align: center;
    border: 10px solid lightgray;
    border-radius: 5px;
    margin: auto; 10px;
    padding: 20px 50px;
    width: 300px;
}

.list li {
    list-style-position: inside;
}

.fav-things {
    background-color: rgba(128, 0, 128, 0.5);
    box-shadow: inset 0 0 10px gray;
    text-align: center;
    font-size: 24px;
    font-weight: 500;
}