body {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    text-align: center;
}
table {
    width: 80%;
    margin: 20px auto;
    border-collapse: collapse;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
    background-color: hsla(204, 6%, 83%, 0.5);
    font-family: 'Roboto', 'Times New Roman', sans-serif;
    font-size: 14px;
}
th, td {
    padding: 12px;
    border: 1px solid #ddd;
}
th {
    background-color: rgba(64, 27, 144, 0.469);
    color: black;
    font-weight: bold;
}

h1 {
    font-size: 22px;
    background-color: rgba(64, 27, 144, 0.469);
    width: 80%;
    text-align: center;
    margin: 5px auto;
}


h2 {
    font-size: 28px;
}
.css-tips {
    list-style-position: inside;
    text-align: center;
    line-height: 1.5;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
    background-color: hsla(204, 6%, 83%, 0.5);
    font-family: 'Roboto', 'Times New Roman', sans-serif;
    margin: 20px auto;
    padding: 20px;
    width: 77%;
    
}

.html-tips {
    list-style-position: inside;
    text-align: center;
    line-height: 1.5;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
    background-color: hsla(204, 6%, 83%, 0.5);
    font-family: 'Roboto', 'Times New Roman', sans-serif;
    margin: 20px auto;
    padding: 20px;
    width: 77%;
    
}